card-element {
  article {
    background: light-dark(rgb(245, 245, 245), rgb(10, 10, 10));
    border: 1px solid rgba(38, 38, 38, 0.8);
    border-radius: 0.2rem;
    height: 100%;
  }

  a {
    text-decoration: none;
  }

  img {
    display: block;
    max-width: 100%;
  }

  div {
    padding: 1rem;
  }

  p {
    line-height: 1.5rem;
  }
}
