content-element {
  article {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media (min-width: 1441px) {
      column-gap: 4rem;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
    }
  }

  section {
    &[data-size="ONE_THIRD"] {
      grid-column: span 2;
    }

    &[data-size="HALF"] {
      grid-column: span 3;
    }

    &[data-size="TWO_THIRDS"] {
      grid-column: span 4;
    }

    &[data-size="FULL"] {
      grid-column: span 6;
    }
  }
}
