hero-element {
  article,
  section,
  ul {
    display: flex;
  }

  article,
  section {
    flex-direction: column;
  }

  article,
  ul {
    gap: 1rem;
  }

  article[style] {
    background: no-repeat top center / 1200px 80vh;
    box-sizing: border-box;
	justify-content: center;
    /*margin-bottom: -2.5rem;*/
    margin-top: -10.5rem;
    min-height: 80vh;
    padding: 1rem;
    position: relative;

    @media (min-width: 1441px) {
      align-items: center;
      background: no-repeat center center / 100% auto;
      margin-bottom: 0;
      margin-top: -11.5rem;
    }
  }

  section {
    gap: 1.5rem;
	/*transform: translateY(-2rem);*/

    @media (min-width: 1441px) {
      align-items: center;
      max-width: 36.5rem;
    }
  }

  h1 {
    font-weight: normal;
    font-size: 2.25rem;
    line-height: 1.1111111;
    margin: 0;

    @media (min-width: 1441px) {
      font-size: 3.5rem;
      text-align: center;
    }
  }

  p {
    a {
      color: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));
      font-weight: 500;
      text-decoration: underline;
    }

    @media (min-width: 1441px) {
      text-align: center;
    }
  }

  ul {
    a {
      /*
      border: 1px solid rgba(38, 38, 38, 0.8);
      border-radius: 0.25rem;
      box-sizing: border-box;
      display: inline-block;
      font-size: 0.875rem;
      height: 2.5rem;
      line-height: 1.25rem;
      padding: 0.5rem 1rem;
      text-decoration: none;
      */

      &[data-appearance="OUTLINE"] {
        background: light-dark(rgb(255, 255, 255), rgb(0, 0, 0));
        border: 1px solid rgba(38, 38, 38, 0.8);
        color: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));
      }
    }
  }
}
